    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" \
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <dict>
            <key>Label</key>
            <string>readinglisttoinstapaper</string>
            <key>LowPriorityIO</key>
            <true/>
            <key>ProgramArguments</key>
                    <array>
                            <string>/bin/_rvmruby</string>
                            <string>1.9.3</string>
                            <string>/Users/blake/Documents/Development/Reading-List-to-Instapaper/readinglist_to_instapaper.rb</string>
                    </array>
            <key>WatchPaths</key>
            <array>
              <string>/Users/blake/Library/Safari/Bookmarks.plist</string>
            </array>
            <key>StandardOutPath</key>
            <string>/Users/blake/Documents/NightlyRSyncBackup.out</string>
            <key>StandardErrorPath</key>
            <string>/Users/blake/Documents/NightlyRSyncBackup.err</string>
    </dict>
    </plist>
